<div class="container">
  <div class="row">
    <div class="wrapper col-md-6 col-md-offset-3 col-sm-10 col-ms-offset-1">
      <h4>通知一覧</h4>
        <ul>
          <% @notifications.each do |notification| %>
          <div class="notification_area">
              <div class="notification_alert">
                <span>
                  <% if notification.read == false %>
                    <div class="alert alert-danger">
                      <p>未読</p>
                    </div>
                  <% else %>
                  <div class="alert alert-info">
                    <p>既読</p>
                  </div>
                  <% end %>
                </span>
              </div>
              <div class="comment_user_avatar">
                <div class = "index_profile_image">
                  <%= profile_img(notification.comment.user) %>
                </div>
              </div>
              <div class="notification_content">
                <p><%= notification.comment.user.try!(:name) %>さんがあなたのブログ（<%= link_to "#{notification.comment.blog.title}", blog_path(notification.comment.blog, notification_id: notification.id) %>）にコメントしました。</p>
                <p><%= notification.created_at %></p>
              </div>
            </div>
          <% end %>
        </ul>

    </div>
  </div>
</div>
